@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// WEBSITE COLORS
$background-color: white;
$primary-color: #2D3436;

// TEXT
$font-stack: "Inter", sans-serif;

// MIXINS
// Buttons
@mixin buttons {
    background: #7564e5;
    border: 2px solid #7564e5;
    color: #fff;
    font-weight: 700;
}

// MOBILE FIRST RESPONSIVE
// CSS
body {
    // width: 100vh;
    font-family: $font-stack;
    font-size: 14px;
    background-color: $background-color;
    color: $primary-color;
}

// HEADER
.navbar .navContainer {
    width: 100%;
    height: 100px;
}

.logoname {
    width: 20%;
    font-weight: 600;
    font-size: 30px;
}

.dot {
    color: #FDCB6E;
    margin: 5px 0;
}

.navbarburger {
    border: none;
}

.navbar .gridlogo {
    display: none;
}

.navbar .col-8 {
    display: none;
}

.btn-regular {
    background: #7564e5;
    border: 2px solid #7564e5;
    border-radius: 5000px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    padding: 12px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn {
    @include buttons;
}

// --- SECTION 2 : DELIVERING
.delivering h4 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: left;
    color: #7564e5;
    padding-left: 16px;
    margin-bottom: 20px;
}

.delivering .delivHeadings {
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    padding-left: 16px;
}

.delivering .delivHeadings p {
    padding-left: 16px;
}

.delivering .card {
    width: 200px;
    padding: 16px;
    border: none;
}

.delivering svg {
    padding-left: 16px;
}

.delivering .card-paragraph {
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(92, 92, 92, 1);
}

.delivering .btn {
    background-color: #fff;
    color: #7564e5;
    border: 0.75px solid rgba(173, 173, 173, 1);
    border-radius: 12px;
}

// --- SECTION 3: PRICING
.pricing h2,
.delivering h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 77.45px;
    letter-spacing: -1px;
    text-align: left;
    padding-left: 16px;
}

.pricing h4 {
    font-size: 22px;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: left;
    color: rgba(194, 194, 194, 1);
    padding-left: 16px;
}

// Cards
.pricing .card {
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.1);
}

.colLabel {
    width: 35%;
}

.pricing .card-title {
    margin: 16px;
    font-size: 26px;
    letter-spacing: -0.5px;
    font-weight: bold;
}

#pLabel {
    width: 100%;
    padding: 5px;
    margin: 16px 8px;
    border: 1px solid rgba(133, 133, 133, 1);
    border-radius: 15px;
    font-size: 12px;
    font-weight: 800;
    line-height: 14.52px;
    letter-spacing: 2.5px;
}

.pricing .card-price {
    font-size: 24px;
    font-weight: 600;
    margin: 0 16px;
    color: rgba(108, 92, 231, 1);
}

.pricing .card-price .period {
    margin: 10px 0;
    color: rgba(108, 92, 231, 1);
}

.pricing .fa-ul {
    margin: 32px 0;
    padding: 0;
    text-align: left;
}

.pricing ul li {
    margin: 22px;
    list-style-type: none;
}

.pricing .btn {
    font-size: 18px;
    border-radius: 15px;
    padding: 16px;
    transition: all 0.2s;
}


// ---- FOOTER
// Form
.femail {
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: rgba(108, 92, 231, 1);
}

// Mobile Version
footer .mobileFooter {
    width: 100vh;
    display: flex;
}

.footerCopyright {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.footerCompany {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgba(0, 184, 148, 1);
    margin-bottom: 20px;
}

// Desktop Version
.desktopFooter {
    display: none;
    text-align: left;
}

.footerSections {
    margin: 10px;
}

.minicaps {
    font-size: 12px;
    font-weight: 800;
    line-height: 14.52px;
    letter-spacing: 2.5px;
    color: rgba(173, 173, 173, 1);
    margin-bottom: 10px;
}

// Social media
.desktopSocmed {
    text-align: left;
}

// Information
.navFooter {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    height: 40%;
}

// Keep in touch
.formContact {
    width: 50%;
    position: relative;
    margin: 5px;
}

input[type=text],
input[type=email],
textarea#inputmessage {
    background-color: rgba(194, 194, 194, 1);
    border: none;
    border-radius: 10px;
}

input[type=text]:focus,
input[type=email]:focus,
textarea#inputmessage:focus,
.inputIcon:focus {
    background-color: rgba(194, 194, 194, 1);
    border: 2px solid rgba(108, 92, 231, 1);
    color: rgba(108, 92, 231, 1);
    font-size: 16px;
    font-weight: 500;
}

.inputIcon {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 2px;
}

.formBtn {
    width: 170px;
    height: 60px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    text-align: center;
}


// DESKTOP VERSION
@media (min-width: 989px) {

    // Header
    // Main Nav
    .navbar .gridlogo {
        display: inline;
        vertical-align: middle;
    }

    .navbar .col-8 {
        display: flex;
    }

    // --- SECTION 2: DELIVERING
    .delivering .card {
        width: 300px;
        padding: 16px;
        border: none;
    }

    // --- SECTION 3: PRICING
    .pricing h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 77.45px;
        letter-spacing: -1px;
        text-align: center;
    }

    .pricing h4 {
        font-size: 22px;
        line-height: 48px;
        letter-spacing: -0.5px;
        text-align: center;
        color: rgba(194, 194, 194, 1);
    }

    // Cards
    .pricing .card:hover {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
        background-color: rgba(108, 92, 231, 1);
        color: white;
    }

    .pricing .card:hover h5 {
        color: rgba(85, 239, 196, 1);
    }

    .pricing .card:hover #pLabel {
        border: 1px solid rgba(85, 239, 196, 1);
    }

    .pricing .card:hover h6,
    .pricing .card:hover .period {
        color: white;
    }

    .pricing .card:hover .btn {
        color: black;
        background-color: white;
    }

    // --- FOOTER
    .femail {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.5px;
        text-align: left;
        color: rgba(108, 92, 231, 1);
    }

    // Desktop version
    .desktopFooter {
        display: flex;
    }

    // Mobile version
    .mobileFooter {
        display: none;
    }

}